[submodule "cinemaratona-backend"]
	path = cinemaratona-backend
	url = https://github.com/Danielcmc100/cinemaratona-backend
[submodule "cinemaratona"]
	path = cinemaratona-frontend
	url = https://github.com/hugonorte/cinemaratona
